<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <base th:href="${#request.getContextPath()}+'/'">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-clearmin.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/roboto.css">
        <link rel="stylesheet" type="text/css" href="assets/css/material-design.css">
        <link rel="stylesheet" type="text/css" href="assets/css/small-n-flat.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
        <title>国电煤炭</title>
    </head>
    <style type="text/css">
        .upLogo {
            padding-left: 10px;
        }
        .marginFix{
            margin-left:30px;
            margin-top:30px
        }
    </style>
    <body class="cm-no-transition cm-1-navbar">
        <div id="cm-menu">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex upLogo"><a href="#"><img src="assets/img/logo.png"/></a></div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li ><a href="" class="sf-house">主页</a></li>
                            <li class="cm-submenu" >
                                <a href="" class=" sf-file-excel">采购申请管理<span class="caret"></span></a>
                                <ul>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a href="" class="sf-box">采购执行报批<span class="caret"></span></a>
                                <ul>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-window-layout">供应商管理 <span class="caret"></span></a>
                                <ul>
                                    <li><a href="/toProducerList">供应商列表</a></li>
                                    <li><a href="/toProducerCheckList">供应商审核</a></li>
                                    <li class="active"><a href="/toAnnualScores">年度评分</a></li>
<!--                                   <li><a href="#">月度评分</a></li>-->
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-money">保证金管理<span class="caret"></span></a>
                                <ul>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class=" sf-notepad">资讯中心<span class="caret"></span></a>
                                <ul>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-user-male-alt">用户管理<span class="caret"></span></a>
                                <ul>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                    <li><a href="#">二级标题</a></li>
                                </ul>
                            </li>
                            <!-- <li><a href="#" class="sf-lock-open">Login page</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header id="cm-header">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
                <div class="cm-flex">
                    <h1>供应商管理</h1> 
                    <form id="cm-search" action="" method="get">
                        <input type="search" name="q" autocomplete="off" placeholder="Search...">
                    </form>
                </div>
                <div class="dropdown pull-right">
                    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li class="disabled text-center">
                            <a style="cursor:default;" th:text="${loginUser.getUsername()}"><strong>小明</strong></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i>个人信息</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-fw fa-cog"></i> 设置</a>
                        </li> -->
                        <li>
                            <a href="/"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="global">
            <div class="container-fluid">
                <div class="row cm-fix-height">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">供应商评分</div>
                            <div class="panel-body">
                                <div class="col-md-12 ">
                                    <form class=" form-inline" action="/ScoreFilter">
                                        <div class=" form-group">
                                          <label >供应商名称</label>
                                          <input type="text" class="form-control" name="producerName" >
                                        </div>

                                        <div class=" form-group">
                                          <label >年份</label>
                                          <input type="text" class="form-control" name="year" >
                                        </div>
                                        <button type="submit" class="btn btn-default">查询</button>
                                        
                                    </form>
                                </div>
                                <br>
                                <br>
                                <br>
                                <table class="table table-hover" style="margin-bottom:0">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>供应商名称</th>
                                            <th>年度</th>
                                            <th>供电厂评分</th>
                                            <th>分公司评分</th>
                                            <th>集团评分</th>
                                            <th>评级</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="map,annualSocreStat:${annualScores}">
                                            <th scope="row" th:text="${annualSocreStat.count}">1</th>
                                            <td th:text="${map['producer_name']}">xxx</td>
                                            <td th:text="${map['year']}">2020</td>
                                            <td th:text="${map['f_score']}">2020</td>
                                            <td th:text="${map['p_score']}">2020</td>
                                            <td th:text="${map['c_score']}">2020</td>
                                            <td th:text="${map['level']}"> A</td>
                                            <td>查看</td>
                                        </tr>

                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">paragraphs</div>
                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div> -->
                </div>
                
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">其他的资讯</div>
                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">其他的资讯</div>
                            <div class="panel-body">
                                
                            </div>
                            
                    </div>
                </div>
                <div class="row cm-fix-height">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">其他的资讯</div>
                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">其他的资讯</div>
                            <div class="panel-body">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">其他的资讯</div>
                            <div class="panel-body">
                                
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <footer class="cm-footer"><span class="pull-left">Connected as Sure</span><span class="pull-right">&copy; PAOMEDIA SARL</span></footer>
        </div>

        <script src="assets/js/lib/jquery.min.js"></script>
        <script src="assets/js/jquery.mousewheel.min.js"></script>
        <script src="assets/js/jquery.cookie.min.js"></script>
        <script src="assets/js/fastclick.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/clearmin.min.js"></script>
        <script src="assets/js/demo/home.js"></script>
    </body>
</html>
